<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nixmash.android.links" >

    <permission
        android:name="com.nixmash.android.links.PRIVATE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.nixmash.android.links.PRIVATE" />

    <application
        android:name=".NixMashupLinksApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LinkListActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LinkActivity"
            android:label="@string/app_name" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LinkListActivity" />
        </activity>
        <activity
            android:name=".LinkPagerActivity"
            android:label="@string/app_name" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LinkListActivity" />
        </activity>
        <activity
            android:name=".WebPageActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <service
            android:name=".PollService"
            android:exported="false" >
        </service>

        <receiver android:name=".StartupReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".NotificationReceiver"
            android:exported="false" >
            <intent-filter android:priority="-999" >
                <action android:name="com.nixmash.android.links.SHOW_NOTIFICATION" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>
    </application>

</manifest>
